<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a class="atual" href="#">Formulário</a></li>
                <li><a href="sobre">Sobre</a></li>
            </ul>
        </div>
    </header>
    <main>
        <!-- <img src="imagens/antes.png" class="imgAntes" width="150" heigth="150" alt=""> -->
        <hr>
        <section class="secao01">
            <form action="/ficha-form-aluno" method="POST">
                <div class="coluna1">
                    <h2 class="titulo2">Ficha de inscrição</h2>
                    <div class="form-group">
                        <label for="name">Nome do Aluno: </label>
                        <input type="text" name="nome" placeholder="Insira o nome" />
                    </div>
                    <div class="form-group">
                        <label for="endereco">Endereço: </label>
                        <input type="text" name="endereco" placeholder="Insira o endereço">
                    </div>
                    <div class="form-group">
                        <label for="complemento">Complemento: </label>
                        <input type="text" name="complemento" placeholder="Insira o complemento">
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro: </label>
                        <input type="text" name="bairro" placeholder="Insira o bairro">
                    </div>
                    <div class="form-group">
                        <label for="municipio">Municipio: </label>
                        <input type="text" name="municipio" placeholder="Insira o municipio">
                    </div>
                    <div class="form-group">
                        <label for="uf">UF: </label>
                        <input type="text" name="uf" placeholder="Insira o uf">
                    </div>
                    <div class="form-group">
                        <label for="cep">Cep: </label>
                        <input type="text" name="cep" placeholder="Insira o seu cep">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail: </label>
                        <input type="text" name="email" placeholder="Insira o seu email">
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone: </label>
                        <input type="text" name="telefone" placeholder="Insira o seu telefone">
                    </div>
                    <div class="form-group">
                        <label for="identidade">Identidade Nº: </label>
                        <input type="text" name="identidade" placeholder="Insira a sua identidade">
                    </div>
                    <div class="form-group">
                        <label for="orgaoExpedicao">Orgão Expedidor: </label>
                        <input type="text" name="orgaoExpedicao" placeholder="Insira o órgão expedidor">
                    </div>
                    <div class="form-group">
                        <label for="dataExpedicao">Data de expedição: </label>
                        <input type="text" name="dataExpedicao" placeholder="Insira a data de expedição">
                    </div>
                    <button type="submit" value="Enviar">Enviar</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="rodape">

        <div class="chamada">Redes sociais</div>
        <div class="icones">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>

        <div class="imagem">
            <img src="imagens/footer-logo.png" class="footer-logo" alt="">
        </div>
        <div class="endereco">
            <div class="info">
                <div class="address">
                    <h6> <i class="fas fa-map-marker-alt"></i>
                        Endereço: Av. das Americas, 392</h6>
                </div>

                <div class="email">
                    <h6><i class="far fa-envelope"> </i>
                        Email: contato@gmail.com</h6>
                </div>

                <div class="phone">
                    <h6><i class="fas fa-phone-square-alt"></i>
                        Telefone: (21) 2822-9822</h6>

                </div>

            </div>
        </div>
        </div>

        <div class="">
            <div class="">
                <h3 class="">Desenvolvido por Daniel Barboza</h3>
            </div>
        </div>
    </footer>
</body>

</html>