<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>
    <header>
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a class="atual" href="#">Formulário</a></li>
                <li><a href="sobre">Sobre</a></li>
            </ul>
        </div>
    </header>
    <main>
        <!-- <img src="imagens/antes.png" class="imgAntes" width="150" heigth="150" alt=""> -->
        <h2 class="titulo1">Ficha de inscrição</h2>
        <hr>

        <section class="secao01">
            <form action="/ficha-form-contratante" method="POST">
                <fieldset>
                <div class="coluna2">
                    <h2 class="titulo2">Contratante</h2>
                    <div class="form-group">
                        <label for="nomecontratante">Contratante</label>
                        <input type="contratante" name="nomecontratante" placeholder="Razão social ou nome">
                    </div>
                    <div class="form-group">
                        <label for="enderecoContratante">Endereço</label>
                        <input type="text" name="enderecoContratante" placeholder="Insira o endereço">
                    </div>
                    <div class="form-group">
                        <label for="complementoContratante">Complemento</label>
                        <input type="text" name="complementoContratante" placeholder="Insira o complemento">
                    </div>
                    <div class="form-group">
                        <label for="bairroContratante">Bairro</label>
                        <input type="text" name="bairroContratante" placeholder="Insira o bairro">
                    </div>
                    <div class="form-group">
                        <label for="municipioContratante">Municipio</label>
                        <input type="text" name="municipioContratante" placeholder="Insira o municipio">
                    </div>
                    <div class="form-group">
                        <label for="ufContratante">U.F.</label>
                        <input type="text" name="ufContratante" placeholder="Insira o uf">
                    </div>
                    <div class="form-group">
                        <label for="cepContratante">Cep: </label>
                        <input type="text" name="cepContratante" placeholder="Insira o cep">
                    </div>
                    <div class="form-group">
                        <label for="emailContratante">E-mail</label>
                        <input type="text" name="emailContratante" placeholder="Insira o email">
                    </div>
                    <div class="form-group">
                        <label for="telefoneContratante">Telefone</label>
                        <input type="text" name="telefoneContratante" placeholder="Insira o telefone">
                    </div>
                    <div class="form-group">
                        <label for="cnpjCpfContratante">CNPJ ou CPF</label>
                        <input type="text" name="cnpjCpfContratante" placeholder="Insira o cnpj ou cpf">
                    </div>
                    <div class="form-group">
                        <label for="inscMunEstContratante">Inscrição Municipal ou Estadual</label>
                        <input type="text" name="inscMunEstContratante" placeholder="Insira a inscrição">
                    </div>
                    <div class="form-group">
                        <label for="faxContratante">Fax</label>
                        <input type="text" name="faxContratante" placeholder="Insira o FAX">
                    </div>
                    <div class="form-group">
                        <label for="responsavelContratante">Responsável</label>
                        <input type="text" name="responsavelContratante" placeholder="Insira o nome do responsável">
                    </div>
                </div>
            </fieldset>
            </form>
        </section>
    </main>
    <footer class="rodape">

        <div class="chamada">Redes sociais</div>
        <div class="icones">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>

        <div class="imagem">
            <img src="imagens/footer-logo.png" class="footer-logo" alt="">
        </div>
        <div class="endereco">
            <div class="info">
                <div class="address">
                    <h6> <i class="fas fa-map-marker-alt"></i>
                        Endereço: Av. das Americas, 392</h6>
                </div>

                <div class="email">
                    <h6><i class="far fa-envelope"> </i>
                        Email: studioyoga@gmail.com</h6>
                </div>

                <div class="phone">
                    <h6><i class="fas fa-phone-square-alt"></i>
                        Telefone: (21) 2822-9822</h6>

                </div>

            </div>
        </div>
        </div>

        <div class="">
            <div class="">
                <h3 class="">Desenvolvido por Daniel Barboza</h3>
            </div>
        </div>
    </footer>
</body>

</html>