<!-- '.ejs' - vou construir o meu template -->
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de currículos - Home</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <h1>
        <%=nome%>
    </h1>
    <!--
        1 - inicia projeto
        2 - configura as depencias basico (url css/express)
        3 - verifica o funcionamento
        4 - versiona cada etapa (git)
        5 - salva em um servidor remoto 
    -->
    <header>
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="atual" href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>
                    <a href="curriculo-form.html">Formulário</a>
                </li>
            </ul>
        </div>
    </header>

    <main>2</main>
    
    <footer>footer</footer>

</body>

</html>