*{
    margin: 0;
    padding: 0;
    outline: none;
}
/* HEADER */
header{
    width: 100%;
    display: block;
    min-height: 50px;
    background-color: #ddd;
}
/* MAIN */
main{
    width: 100%;
    display: block;
    min-height: 300px;
    background-color: #ccc;
}
main .formGenerator{
    background-color: white;
}
/* FOOTER */
footer{
    width: 100%;
    display: block;
    min-height: 300px;
    background-color: #ccc;
}